.profile-container {
    max-width: 800px;
    margin: 0 auto;
    padding: 40px 20px;
}

.profile-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.profile-header h1 {
    font-size: 48px;
    font-weight: bold;
    color: #05333a;
    margin: 0;
}

.profile-icon {
    height: 60px;
}

.profile-fields {
    margin-top: 40px;
}

.profile-field {
    display: flex;
    align-items: center;
    margin-bottom: 20px;
}

.profile-field a {
    width: 600px;
    color: #012A36;
    padding: 12px;
    display: block;
    font-family: Verdana;
    font-weight: bold;
    font-size: 24px;
    text-align: center;
}

.profile-field input {
    width: 1100px;
    border: 1px solid #7E52A0;
    border-radius: 20px;
    padding: 10px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
}

.logout-btn {
    border: 1px solid #7E52A0;
    border-radius: 20px;
    padding: 10px 20px;
    font-size: 16px;
    color: #333;
    background-color: #f9f9f9;
    cursor: pointer;
    margin: 0;
}

.question {
    display: flex;
    justify-content: center;
    margin-top: 20px;
}