{% extends 'base/base.html' %}
{% load static %}

{% block title %}Профиль{% endblock %}

{% block styles %}
<link rel="stylesheet" href="{% static 'MainPage/css/styles.css' %}">
<link rel="stylesheet" href="{% static 'User/css/profile.css' %}">
{% endblock %}

{% block content %}
<div class="navbar">
    <div class="down">
            <a class="down-btn">ВХОД </a>
    </div>
</div>
<form method="post">
    {% csrf_token %}
    <div class="profile-field">
        <label for="id_username">Логин</label>
        {{ form.username }}
    </div>
    <div class="profile-field">
        <label for="id_password1">Пароль</label>
        {{ form.password }}
    </div>
    <button type="submit">Войти</button>
</form>
{% endblock %}

{% block scripts %}
<script type="module" src="{% static 'MainPage/js/get_category.js' %}"></script>
{% endblock %}
